<div>
  <% @user.authors.each do |author| %>
    <div>
      <strong><%= author.name %></strong><br />
      <% author.books.each do |book| %>
        <em><%= book.title %> (<%= book.publication_date %>)</em><br />
      <% end %>
    </div>
  <% end %>
</div>
