<% publication_dates = [] %>
<% current_user.books.each { |book| publication_dates << book.publication_date } %>
<% publication_dates = publication_dates.uniq.sort %>

<div class='releases'>
  <% publication_dates.each do |date| %>
    <div class='release-date'>
      <div class='date'><%= date.strftime('%B %e, %Y')%></div>
      <div class='books'>
        <% books = current_user.books.select { |book| book.publication_date == date } %>
        <% books = books.sort_by { |book| book.author.name.split(' ').last } %>
        <% books.each do |book| %>
          <div class='book'>
            <div class='title'><%= link_to book.title, book.link %></div>
            <div class='author'><%= link_to book.author.name, book.author.link %></div>
          </div>
        <% end %>
      </div>
      </div>
  <% end %>
</div>
