<% publication_dates = [] %>
<% current_user.books.each { |book| publication_dates << book.publication_date } %>
<% publication_dates = publication_dates.uniq.sort %>

<div class="releases">
  <% Book.all.each do |book| %>
    <%= book.title %> by <%= book.author.name %><br />
  <% end %>
</div>
