$hero-height: 60vh;

.hero {
  $large-screen: 50em !default;
  align-items: center;
  background: url("hero.jpg") 50% no-repeat;
  background-position: center;
  background-size: cover;
  height: $hero-height;
  display: flex;
  justify-content: center;
  min-height: 25em;
  margin: 0 auto;

  // @include media($large-screen) {
  //   background-position: left;
  //   background-size: cover;
  //   justify-content: flex-end;
  // }

  .hero-content {
    max-width: 20em;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow:
      -1px -1px 0 #999,
      1px -1px 0 #999,
      -1px 1px 0 #999,
      1px 1px 0 #999;

    // @include media($large-screen) {
    //   text-align: left;
    // }
  }

  .hero-logo {
    margin: auto;
  }
}
